<div *ngIf="clients">
       <span matBadge="{{nombre_de_client_a_ajoutee}}" matBadgeSize="small" matBadgeColor="accent" style="position: fixed; left: 1300px" *ngIf="nombre_de_client_a_ajoutee>0" > <button mat-button [matMenuTriggerFor]="menu">
             <mat-icon>notifications_active</mat-icon>
          </button>
          <mat-menu #menu="matMenu" >
            <button mat-menu-item  >

              {{nombre_de_client_a_ajoutee}} comptes clients à valider
            </button>
          </mat-menu></span>
  <h1>Les clients</h1>
  <button class="btn-primary" (click)="onAjout()">Ajouter</button>
  <table class="table table-striped" >

    <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">nom du client</th>
      <th scope="col">Categorie</th>
      <th scope="col">zone</th>
      <th scope="col">modification</th>
      <th scope="col">supprimer</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let client of clients " >
      <td>{{client.id_client}}</td>
      <td>{{ client.nom_client }}  </td>
      <td>{{ client.categorie_client }}</td>
      <td>{{ client.zone_client }}</td>
      <td><button class="btn btn-sm btn-success"  (click)="onmodifier(client.id)">modifier</button> </td>
      <td><button class="btn btn-sm btn-danger"  (click)="supprimer(client.id)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
      </svg></button></td>
    </tr>
    </tbody>
  </table>
</div>

