
<div class="row" *ngIf="!login">
  <div class="col-xs-12">
    <form (ngSubmit)="authendicated(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label>Nom d'utilisateur | email </label>
          <input
            type="text"
            id="username"
            class="form-control"
            name="username"
            ngModel
            required
            email="{{config.email_required}}"
            #email="ngModel">
          <span *ngIf="!email.valid && email.touched" style="color: #A52A2A;">  SVP entrer un email ou un nom d'utilisateur valide</span>
        </div>
        <div class="col-sm-2 form-group">
          <label for="password">password</label>
          <input
            type="password"
            id="password"
            class="form-control"
            name="password"
            ngModel
            required>
          <!--pattern="^[1-9]+[0-9]*$" -->

        </div>

        <div class="col-xs-12" >
          <button class="btn" type="submit" [disabled]="!f.valid" style="background: #A52A2A; color: aliceblue" >LOGIN</button>
        </div>
      </div>
    </form>
  </div>
</div>










<!--<h2>Login</h2>
<form [formGroup]="false" (ngSubmit)="false">
 <div class="form-group">
   <label  >Username</label>
   <input type="text" formControlName="username" class="form-control">
   <div *ngIf="true" class="invalid-feedback">
     <div  >Username is required</div>
   </div>
   <div class="form-group">
     <label  >Password</label>
     <input type="password" formControlName="password" class="form-control">
     <div *ngIf="false" class="invalid-feedback">
       <div  >Password is required</div>
     </div>
   </div>
   <div class="form-group">
     <button  >
       <span   class="spinner-border spinner-border-sm mr-1"></span>
       Login
     </button>
     <a routerLink="/register" class="btn btn-link">Register</a>
   </div>
 </div></form> -->
